// BASE
html {
  font-size: 18px;
}
section {
  padding: 1.5rem 0;
  @include media-breakpoint-up(md) {
    padding: 4rem 0;
  }
}
// UTILS
.flex-y {
  display: flex;
  align-items: center;
}
// COMPONENTS
.block {
  @extend .my-3;
}

.block-sm {
  @extend .my-1;
}

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

.btn-primary {
  box-shadow: 0 10px 20px rgba($primary, 40%);
}
// LAYOUT

// PAGE(s)
section.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  min-height: 100vh;

  .selling-points {
    display: flex;
    justify-content: space-between;
    max-width: 290px;
    flex-wrap: wrap;
  }
}
section.client-strip {
  padding: 1rem 0;
  padding-bottom: 3rem;
}
section.modes {
  .modes {
    img {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-up(lg) {
    background-image: url('../images/man-smiling.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 480px;
  }

  @include media-breakpoint-up(xl) {
    background-image: url('../images/man-smiling.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: auto;
  }
}
section.features {
  background: $primary;
  background-image: linear-gradient($primary, $primary-2);

  color: #fff;
  position: relative;
}
section.benefits {
  .block-sm {
    @extend .p-3;
    border-left: 4px solid $primary;
    box-shadow: 0 0 15px 5px rgba(#666666, 0.2);
    background: rgba(white, 0.7);
  }
}
